[run]
branch = True
source =
    Accounts
    ShoppingList
omit =
    config/asgi.py
    config/wsgi.py
    manage.py
    */migrations/*
    */tests/*
    */__init__.py
    ShoppingList/tests.py
    Accounts/tests.py
    config/*
    Accounts/apps.py
    SHoppingList/apps.py